@page
@model RegisteredModel
@{
}

<h1>Registered</h1>
<p>You have been successfuly registered</p>
<h3>Confirm your email address now</h3>
<p>You can work now with limited functionality before your email isn't confirmed. The confirmation message has been sent to you. Please, wait for it and follow included instructions.</p>

<a href="@Model.returnUrl" class="btn btn-primary">Back</a>

