@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool showBanner = !consentFeature?.CanTrack ?? false;
    bool native = Context.Request.Headers.Keys.Any(k=>k.Equals("nativeApp",StringComparison.OrdinalIgnoreCase));
    if (native) { showBanner = false; }
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand" role="alert">
        <div class="container">
            <div class="collapse navbar-collapse">
                <p class="navbar-text">
                    To enhance your user experience, support technical features, and personalize content and ads, this site uses cookies.
                </p>
                <div class="navbar-right">
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                    <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                //document.querySelector("#cookieConsent").classList.add("hidden");
                $("#cookieConsent").fadeOut();
            }, false);
        })();
    </script>
}