<div class="row doc-list">
    @foreach (var doc in Model)
    {
    <div style="flex: 0 0 50%; overflow:hidden;" class="position-relative">
        <div class="doc-thumb half-thumb">
            <div class="text-center">
                <a href="@Url.Action("Item","Documents",new { Id=doc.Id})">
                    <img src="@Url.Link("GetDocThumb",new { Id = doc.Id, n = 1 })" />
                </a>
            </div>
            </div>
          <div class="caption position-absolute" style="bottom:0px;"><a href="@Url.Action("Item","Documents",new { Id=doc.Id})"><small>@doc.Title</small></a>
          </div>
        </div>
    }

</div>
