<div id="search" class="row">
    <form action="Show" method="GET">
        <input type="hidden" name="Id" value="@ViewBag.UserName" />
        <input type="text" name="q" size="40" />
        <button type="submit">Search</button>
    </form>
</div>
