@model IEnumerable<SearchServer.Models.BookmarkModel>

@{
    ViewData["Title"] = "Bookmarks";
}

<h2>@ViewData["Title"]</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
          <a href="@Url.Action("Item","docs",new { Id = item.DocumentId})/#@item.Page">@item.Name in @item.Document.Title, p.@item.Page</a>
        </li>

    }

</ul>
