<h2>Confirm Email</h2>
Your account must be confirmed for requested action.<br>If you still didn't receive confirmation message you can request sending another one:
<br><br>
<div><form method="post" asp-area="Identity" asp-page="/Account/Manage/SendEmailConfirmation"><button class="btn btn-primary">Send Email Confirmation</button></form></div>
<br>
<a href="javascript:window.history.back()" class="btn btn-secondary">Back</a>


