@page
@model SendEmailConfirmationModel
@{
}

<h1>Email Confirmation</h1>

@if (ViewData["Error"] != null)
{
 <p>@ViewData["Error"]</p>
}
else
{

    <p>Confirmation has beed sent to your email address. Please wait for email and follow included instructions.</p>

}

<br />
<a href="javascript:window.history.back()" class="btn btn-primary">Back</a>
